*
{
    font-family: 'Trajan', 'Garamond', serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-decoration: none;
}

body
{
    background-color: #faebd7;
}



ul
{
    font-family: 'Trajan', 'Garamond', serif;

    overflow: hidden;


    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: #17272b;
    box-shadow: 0 .5vh 1vh #3c3c3c;
}

li
{
    float: left;
    overflow: hidden;
}

li a
{
    font-family: 'Trajan', serif;
    font-size: 3vh;

    display: block;
    overflow: hidden;

    padding: 1vw 7vw;

    text-align: center;

    color: white;
}

footer
{
    width: 100%;
    min-height: 50px;

     font-family: 'Trajan', serif;
    font-size: 3vh;

    display: block;
    overflow: hidden;

    padding: 1vw 7vw;

    text-align: center;

    color: white;
    background-color: #17272b;
}

li a:hover:not(.active)
{
    background-color: #888;
}

li .active
{
    background-color: #2b1b17;
    box-shadow: 0 3px 5px #3c3c3c;
}

.slideshow-container
{
    position: relative;
    z-index: -1;

    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #3c3c3c;
}

.mySlides
{
    z-index: -1;

    display: none;

    height: 100%;
    margin: 0;
    padding: 0;

    box-shadow: 0 1vh 3vh #3c3c3c;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover
{
    background-color: rgba(0,0,0,.8);
}

img
{
    margin: 0;
    padding: 0;
}
.text
{
    font-size: 15px;

    position: absolute;
    bottom: 8px;

    width: 100%;
    margin: 0;
    padding: 8px 12px;

    text-align: center;

    color: #f2f2f2;
}

/* Number text (1/3 etc) */
.numbertext
{
    font-size: 12px;

    position: absolute;
    top: 0;

    padding: 8px 12px;

    color: #f2f2f2;
}

/* The dots/bullets/indicators */
.dot
{
    display: inline-block;

    width: 13px;
    height: 13px;
    margin: 0 2px;

    cursor: pointer;
    transition: background-color .6s ease;

    border-radius: 50%;
    background-color: #bbb;
}

.active,
.dot:hover
{
    background-color: #717171;
}

/* Fading animation */
.fade
{
    margin: 0;
    padding: 0;

    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
    from
    {
        opacity: .4;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fade
{
    from
    {
        opacity: .4;
    }
    to
    {
        opacity: 1;
    }
}

aside
{
    display: block;
}

.maincontent
{
    width: 100%;
    margin: 0;
    margin-bottom: 20px;

    text-align: center;
}

.article
{
    font-family: 'Trajan', 'Garamond', serif;
    font-size: 22px;

    display: inline-block;

    width: 75%;
    margin: 5px;

    text-align: left;
}

p::first-letter
{
    font-size: 225%;
    font-style: italic;

    color: #000;
}


p
{
    margin-left: 15px;
    padding: 5px;
}
